<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>
<nav th:replace="template :: menu"></nav>

<form method="post" th:object="${product}">
    <label th:for="name">Name</label>
    <input th:field="*{name}"/>

    <label th:for="expirationDate">Expiration date</label>
    <input type="date" th:field="*{expirationDate}"/>

    <label th:for="dayOfPurchase">Day of purchase</label>
    <input type="date" th:field="*{dayOfPurchase}"/>

    <label th:for="category">Category</label>
    <select th:field="*{category}">
        <option th:each="productCategory : ${productCategories}"
                th:text="${productCategory.productCategory}"
                th:value="${productCategory}">
        </option>
    </select>

    <label th:for="price">Price</label>
    <input th:field="*{price}"/>

    <label th:for="shop">Shop</label>
    <input th:field="*{shop}"/>

    </div>
    <input type="submit" value="Add Product"/>
</form>

</body>
</html>