<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My products</title>

    <style>
        th, td {
            text-align: center;
        }
    </style>

</head>
<body>
<h1>My Products</h1>
<nav th:replace="template :: menu"></nav>
<br />
<p th:unless="${products} and ${products.size()}">Empty product list</p>

<table border="solid 1px">
    <tr>
        <th>Name</th>
        <th>Expiration Date</th>
        <th>Day of Purchase</th>
        <th>Category</th>
        <th>Price</th>
        <th>Shop</th>
        <th>Days to Expiration</th>
    </tr>
    <tr th:each="product, prodStat  : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.expirationDate}"></td>
        <td th:text="${product.dayOfPurchase}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.shop}"></td>
        <td id="daysUntilExpiration" th:text="${period.get(prodStat.index)}"></td>
    </tr>
</table>
</body>
</html>